<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style>

  </style>
</head>
<body>
  <main>
    <h1>마이 페이지</h1>
    <section class="user_info">
      <ul>
        <li th:text="'이름: ' + ${userName}"></li>
        <li>레벨: 1</li>
        <li>제출한 글 개수: 0</li>
        <li>따봉 개수: 0</li>
        <li>랭킹: -</li>
        <li th:if="${blog}" th:text="'블로그 url: ' + ${blog}"></li>
      </ul>
    </section>
    <section class="form-wrapper">
      <nav class="tab">
        <button th:if="${blog}" >글 제출</button>
        <button th:if="${blog}" >아이디어(to do list)</button>
        <button>블로그 등록</button>
      </nav>
      <form class="blog-form" action="/user/blog" method="post">
        <h3>블로그를 등록하고 매일 글을 써봅시다.</h3>
        <label for="blog">운영 블로그 주소</label>
        <input type="text" th:name="blogUrl" id="blog" placeholder="블로그 주소를 입력">
        <input type="submit" value="제출">
      </form>
      <form class="content-form" th:if="${blog}" action="/user/content" method="post">
        <label for="url">오늘 쓴 글</label>
        <input type="text" id="url" placeholder="글 주소를 입력">
        <input type="submit" value="제출">
      </form>
    </section>
  </main>
</body>
</html>